<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weclome Page</title>
</head>

<body>
  <p>Welcome, <b>{{{name}}}</b></p>
  <p>Email: {{{email}}}</p>

  <p>
    <a href="/logout">Logout</a>
  </p>

</body>

</html>