// white
$white: #fff;
$alabaster: #fafafa;
$color_romance_approx: #fdfdfd;
$color_desert_storm_approx: #f8f8f8;
$color_wild_sand_approx: #f2f4f5;
$color_mercury_approx: #dfe3e5;
$color_alto_approx: #dedede;
$color_geyser_approx: #dadfe1;
$color_porcelain_approx: #eff1f2;
$color_bon_jour_approx: #e0e0e0;
$color_gallery_approx: #eee;
$color_celeste_approx: #ccc;
$color_silver_approx: #bebebe;
$color_nobel_approx: #b2b2b2;
$color_silver_chalice_approx: #aaa;
$color_mountain_mist_approx: #959595;

// gray and black
$color_slate_gray_approx: #778594;
$color_pale_sky_approx: #6b7988;
$color_dove_gray_approx: #6e6e6e;
$color_storm_dust_approx: #666;
$color_gravel_approx: #4a4a4a;
$color_mine_shaft_approx: #333;
$color_shark_approx: #262626;
$color_log_cabin_approx: #1f1f1f;
$black: #000;
$black_47: rgba(0, 0, 0, 0.47);

// red
$red: #f00;
$color_guardsman_red_approx: #cc0200;
$color_bright_red_approx: #b20001;
$color_chestnut_rose_approx: #cd575c;
$color_sunset_orange_approx: #f54a4a;
$color_mojo_approx: #c03d3d;

// green
$color_malachite_approx: #1cba48;
$color_sea_green_approx: #26a640;
$color_forest_green_approx: #238339;
$color_japanese_laurel_approx: #008000;
$color_malachite_46_approx: rgba(39, 202, 73, 0.46);

// blue
$color_cornflower_blue_approx: #66afe9;
$color_glacier_approx: #6ea9d1;
$color_san_marino_approx: #4e70a8;
$color_bismark_approx: #445f8c;
$color_azure_approx: #3b5998;
$color_denim_approx: #0d70b3;
$color_mariner_approx: #2c74c7;
